.footer .link {
  cursor: pointer;
  &:hover {
    color: var(--primary-color);
  }
}
.nav-page {
  color: var(--primary-color) !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .footer .company {
    // position: relative;
    margin-right: -9rem;
  }
  .footer .rights {
    position: relative;
    left: 6rem;
  }
}
